# autolight configuration
MQTT = {
  host = "mybroker-hostname";
};

ambientlight = {
  topic = "home/light";
  hysteresis = 7;
};

motion_detectors = (
  { name = "yard";
    topic = "home/yard/motion",
  },
  { name = "door";
    topic = "home/frontdoor/motion";
  }
);

lamps = (
  { name = "stairs";
    mqtt_topic = ("home/stairs/cmnd/POWER2");
    ambientlight_threshold = 960;
    schedule = (
      { weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri");
        on = (5, 30);
        off = (22, 00);
      },
      { weekdays = ("Sat", "Sun");
        on = (6, 00);
        off = (23, 00);
      }
    );
  },
  {
    name = "outside";
    mqtt_topic = ("home/outside/lamp/cmnd/POWER1");
    ambientlight_threshold = 950;
    schedule = (
      { weekdays = ("Thu", "Sat");
        on = (7, 15);
        off = (22, 00);
      }
    );
    motion = {
      detector = "yard";
      on_time = 10;
    };
  },
  {
    name = "kitchen";
    mqtt_topic = ("home/kitchen/cmnd/POWER");
    ambientlight_threshold = 960;
    schedule = (
      { weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun");
        on = (6, 00);
        off = (22, 00);
        random = {
          count = 2;
          average_length = 40;
          length_stddev = 20;
        };
      }
    );
  }
);
